
#Ingore all log but conserve directory structure
var/logs/*
!var/logs/.htaccess


#Ingore all tasks execpt example task and htaccess
tasks/*
!tasks/.htaccess
!tasks/.testTasks.php

# Ingore all logs files everywhere
*.log

# Ingore all zipped files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Ingore all lib e vendor file
/vendor/*
composer.lock

## Ingore all crunz configuration
crunz.yml
