
#Ignore all log but conserve directory structure
var/logs/*
!var/logs/.htaccess


#Ignore all tasks execpt example task and htaccess
tasks/*
!tasks/.htaccess
!tasks/testTasks.php
!tasks/testAliveTasks.php

# Ignore all logs files everywhere
*.log

# Ignore all zipped files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Ignore all lib e vendor file
vendor/*
!vendor/.htaccess
composer.lock

# Ignore all crunz configuration
crunz.yml
!.github/dockerConf/crunz.yml

#Ignore IDEs' configuration directory
.vscode
