<!doctype html>
<html lang="{{ application.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="application-name" content="{{ application.name }}">
        <meta name="application-version" content="{{ application.version }}">
        <meta name="author" content="{{ application.authors }}">
        <meta name="keywords" content="{{ application.keywords }}">
        <meta name="description" content="{{ application.description }}">

        <meta name="robots" content="index, nofollow">

        <meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSubDomains">
        <meta http-equiv="X-Frame-Options" content="deny">
        <meta http-equiv="X-Content-Type-Options" content="nosniff">
        <meta http-equiv="X-Permitted-Cross-Domain-Policies" content="none">
        <meta http-equiv="Referrer-Policy" content="no-referrer">
        <meta http-equiv="Cross-Origin-Embedder-Policy" content="require-corp">
        <meta http-equiv="Cross-Origin-Opener-Policy" content="same-origin">
        <meta http-equiv="Cross-Origin-Resource-Policy" content="same-origin">
        <meta http-equiv="Permissions-Policy" content="accelerometer=(),autoplay=(),camera=(),display-capture=(),document-domain=(),encrypted-media=(),fullscreen=(),geolocation=(),gyroscope=(),magnetometer=(),microphone=(),midi=(),payment=(),picture-in-picture=(),publickey-credentials-get=(),screen-wake-lock=(),sync-xhr=(self),usb=(),web-share=(),xr-spatial-tracking=()">
        <meta http-equiv="Cache-Control" content="no-store, max-age=0">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Clear-Site-Data" content="cache,cookies,storage">
        <meta http-equiv="Content-Security-Policy" content="child-src 'none'; connect-src 'self'; frame-src 'none'; object-src 'none'; worker-src 'none'; upgrade-insecure-requests; block-all-mixed-content">


        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <link href="../assets/images/logo.png" rel="icon" type="image/png">
        <link href="../assets/css/app.css" rel="stylesheet">

        <title>{{ application.title }}</title>
    </head>
    <body>
        <div id="edge">
            <v-app>
                <container :showloading="showloading"></container>
            </v-app>
        </div>
        {% if run_mode == "PRODU" %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
        {% else %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue-router@3.x/dist/vue-router.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.24.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vee-validate@3.x/dist/vee-validate.full.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.x/dist/sweetalert2.all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.x/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.4.2/src/httpVueLoader.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.js" integrity="sha512-OMjy8oWtPbx9rJmoprdaQdS2rRovgTetHjiBf7RL7LvRSouoMLks5aIcgqHb6vGEAduuPdBTDCoztxLR+nv45g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.x/dist/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js" integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A==" crossorigin="anonymous"></script>

        <script src="../assets/js/utils.js"></script>

        <script>

            var lang = document.documentElement.lang;
            var cronstrue = window.cronstrue;

            Vue.use(Vuetify);
            Vue.use(VueRouter)
            Vue.config.productionTip = false;
            Vue.component('validationprovider', VeeValidate.ValidationProvider);
            Vue.component('validationobserver', VeeValidate.ValidationObserver);

            var run_mode = "{{run_mode}}";
            if(run_mode != "PRODU"){
                Vue.config.devtools = true;
            }

            const router = new VueRouter();

            const Edge = new Vue({
                el: '#edge',
                data:{
                    showloading: false
                },
                router,
                vuetify: new Vuetify(),
                components: {
                    'container': httpVueLoader('../app/shareds/Container.vue' + '?v=' + new Date().getTime())
                }
            })
        </script>
    </body>
</html>
